*.avi
*.workspace
*.xlsx
*.tif
*.png

data/*
output/*
/_progress_meeting_slides_/
temp/*
/workspace/
__pycache__/*
*.pyc
/figures/
notebooks/workshop.ipynb
notebooks/old knee three parts analysis.ipynb
workshop.ipynb

docs/meetings/
docs/comparison of aging radial segmentation old 16 vs. 64 slices/
docs/comparison of aging radial segmentation old vs new methods/
