*.avi
*.workspace
*.xlsx
*.tif
*.png

data/*
output/*
/_progress_meeting_slides_/
temp/*
/workspace/
__pycache__/*
*.pyc
/figures/
notebooks/workshop.ipynb
notebooks/old knee three parts analysis.ipynb
docs/meetings/
61.0
workshop.ipynb
