*.avi
*.workspace
*.xlsx
*.tif
*.png

data/*
output/*
/progress_meeting_slides/
trash/*
/workspace/
__pycache__/*
*.pyc
/figures/
notebooks/workshop.ipynb
notebooks/old knee three parts analysis.ipynb
